.about-page {
  background-color: #ced3dc;
  /* height: 100vh; */
  margin-bottom: auto;
}

.about-title {
  margin-top: 0px;
  padding-top: 75px;
  padding-bottom: 25px;
  margin-bottom: 0px;
  font-family: "Jost", sans-serif;
  font-size: 100px;
  text-align: center;
  color: #4e8098;
  line-height: 100px;
  text-shadow: 2px 2px #90c2e7;
}

.about-content {
  display: flex;
  justify-content: center;
}

.photo {
  height: 400px;
  border-radius: 75px;
}

.about-text {
  font-family: "Dosis", sans-serif;
  color: #4e8098;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 40px;
  width: 400px;
}

@media only screen and (max-width: 700px) {
  .about-page {
    padding-bottom: 120px;
  }
  .about-title {
    font-size: 75px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 620px;
    text-align: center;
    margin: 0 auto;
  }

  .photo {
    height: 350px;
    border-radius: 15px;
  }

  .about-text {
    width: 500px;
    text-align: justify;
  }
}

@media only screen and (max-width: 550px) {
  .about-title {
    font-size: 45px;
  }

  .photo {
    height: 250px;
    border-radius: 25px;
  }

  .about-text {
    width: 80vw;
    text-align: justify;
  }
}
