.homepage {
  background-color: #ced3dc;
  height: 100vh;
  font-family: "Jost", sans-serif;
}

.homepage-main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.homepage-name {
  background-color: #ced3dc;
  margin-top: 125px;
  margin-bottom: 0px;
  width: 500px;
  font-size: 100px;
  color: #4e8098;
  line-height: 100px;
  text-shadow: 2px 2px #90c2e7;
}

.homepage-title {
  width: 200px;
  margin-bottom: 0px;
  font-size: 35px;
  color: #a31621;
}

.page-break {
  height: 3px;
  width: 700px;
}

.lower-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4e8098;
  font-size: 18px;
}

.arrow {
  width: 100px;

  background-color: #ced3dc;
}

.arrow:hover {
  width: 100px;
  cursor: pointer;
}

/* RESPONSIVNESS */

@media only screen and (max-width: 700px) {
  .homepage-main {
    flex-direction: column;
    align-items: center;
  }

  .homepage-name {
    text-align: center;
  }

  .page-break {
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .homepage-name {
    font-size: 45px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }
}
